body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'Courier', monospace;
  background: linear-gradient(90deg, rgba(64,40,77,1) 0%, rgba(253,153,29,1) 56%, rgb(212, 197, 144) 100%);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  
    monospace;
}
